body{
margin:0;
background:#000;
color:#fff;
font-family:Arial;
text-align:center;
}

.box{
padding:25px;
}

h1{
color:#00ffff;
}

input,button{
width:85%;
padding:14px;
margin-top:10px;
border:none;
border-radius:12px;
background:#111;
color:white;
}

#qrcode,#result{
margin-top:20px;
}