body{
margin:0;
background:#0a0a0a;
color:white;
font-family:Arial;
text-align:center;
}

.container{
padding:20px;
}

h1{
color:#00ffff;
text-shadow:0 0 10px #00ffff;
}

input{
width:80%;
padding:12px;
margin-top:20px;
border:none;
border-radius:10px;
background:#111;
color:white;
outline:none;
}

button{
width:85%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
background:#111;
color:#00ffff;
box-shadow:0 0 10px #00ffff;
cursor:pointer;
}

button:active{
transform:scale(0.98);
}

#qrcode{
margin-top:20px;
}

#result{
margin-top:15px;
color:#00ff99;
}
